{% extends 'base.html.twig' %}

{% block title %}Hello SPM — Suivi Projets Mairie{% endblock %}

{% block body %}
    <main>
        <h1>Hello SPM</h1>
        <p>Suivi Projets Mairie — squelette Symfony 7.4 opérationnel.</p>
    </main>
{% endblock %}
