parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
